node_modules
dist

### VisualStudioCode ###
.vscode/**/*
!.vscode/settings.json

### Testing ###
/tests/coverage/

### Tooling ###
.tsbuild/

### Benchmarks ###
/benchmarks/.cdn-cache/
/benchmarks/baseline.txt
/benchmarks/after.txt